body {
  background:#f3f3f3;
  font-family: 'Open Sans', arial;
  //overflow: hidden;

  * {
    box-sizing: border-box;
  }
}


// simple grid

#rotatingBanner {
position: relative;
  height: 500px;
  top:0px;
  margin-bottom: 30px;
  @media(max-width:615px) {
    height:300px;
  }

  .slide {
    height: 500px;
    display: inline-block;
    width:100%;
    text-align: center;
    position: absolute;
    top:0;
    left:0;
    display: none;
    transition: all linear .5s;

    &.active {
      display:inline-block;
    }

    @media(max-width:615px) {
      height:300px;
    }



    h2 {
      background:#e2534b;
      color:#fff;
      font-size: 50px;
      text-align: center;
      padding:5px 10px 5px 10px;
      display: inline-block;
      font-family: 'Open Sans';
      font-weight: bold;
      margin-top:150px;
      border-radius: 6px;
      text-transform: uppercase;

      @media(max-width: 615px) {
        font-size: 40px;
        margin-top:15%
      }

    }

    .infoBox {
      background:rgba(0,0,0,0.4);
      display: block;
      color:#fff;
      max-width: 60%;
      margin:10px auto;
      padding:5px;
      line-height: 26px;
      font-size:16px;
      font-family: arial;
      border-radius: 6px;
      max-width: 450px;

      @media(max-width: 615px) {
        width: 200px;
      }
    }
  }

  .slide-1 {
    background:#1f4b4b;
  }

  .slide-2 {
    background:lighten(#1f4b4b,10%);
  }

  .slide-3 {
    background:darken(#1f4b4b,5%);
  }

  .slideCount {
  z-index: 200;
    position: absolute;
    width: 100%;
    bottom: 0;

    ul {
      display: flex;
      justify-content: space-between;
      width:300px;
      margin:30px auto;


      li {
        background:#b0b8b9;
        height:5px;
        width:30%;
        cursor: pointer;
        transition: all linear .2s;

        &.active {
          background:#e8645a;
        }

      }

    }
  }
}


// services

.servicesArea {
  background:#f3f3f3;

  .container {
    max-width: 1200px;
    margin:0 auto;
    position: relative;
    display: block;
  }

}

.servicesMsg {
  display: flex;
  background: #ececec;
  padding: 10px 0px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  padding-bottom: 15px;

  @media(max-width: 615px) {
    flex-direction: column;
  }

  .left {
    //width:80%;
    padding:0px 20px;

    @media(max-width: 615px) {
      margin-bottom: 5%;
      text-align: center;
    }
  }

  .right {
    //width: 20%;
    padding: 0 20px 0 10px;
  }

  h4 {
    color:#7f8c8c;
    font-size:30px;
    line-height: 36px;
    font-weight: 600;

    @media(max-width:515px) {
      line-height: 24px;
      margin-bottom: 10px;
    }

  }

  p {
    font-size:13px;
    color:#777777;
    line-height: 16px;
  }

  .btn {
    background: #76caca;
    color:#fff;
    padding:10px 20px 10px 20px;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
    vertical-align: middle;
    border-radius: 6px;
    margin:0 auto;
    display: block;
    text-align: center;
    min-width:150px;

    &:hover {
      background: #e8645a;
    }
  }
}


// services

.services {
  display: flex;
  justify-content:space-between;
  margin-top:20px;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 60px;

  @media(max-width: 768px) {
    padding:0 5px;
  }

  @media(max-width: 615px) {
    flex-direction: column;
  }
}

.serviceItem {
  background:#fff;
  display: block;
  padding: 10px;
  width:22%;
  text-align: center;
  position: relative;

  @media(max-width:768px) {
    width:48%;
    margin-bottom:30px;
  }

  @media(max-width:615px) {
    width:100%;
    margin-bottom: 20%;
  }

  p {
    font-size:13px;
    line-height: 20px;
    font-family: 'Open Sans', arial;
    font-weight: 400;
    margin-bottom: 10px;
    color:#777777;
    margin-bottom: 30px;

    @media(max-width:615px) {
      max-width: 70%;
      margin:0 auto;
      margin-bottom: 40px;

    }
  }

  h4 {
    font-weight: bold;
    color:#7f8c8c;
    margin-bottom: 20px;
  }

  img {
    margin-bottom: 20px;
    margin-top:30px;
  }

  .btn {

    background: #76caca;
    color:#fff;
    padding:10px 20px 10px 20px;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
    border-radius: 6px;
    display: block;
    text-align: center;
    position: absolute;
    bottom:-20px;
    width:90%;
    left:5%;

    &:hover {
      background: #e8645a;
    }


  }

  &.active {

    .btn {
      background: #e8645a;
    }
  }
}

// about section

.aboutSection {
  background:#ececec;
  background-image: url(../images/aboutUsBg.png);
  background-position: 0 -2px;
  background-repeat: repeat-x;
  min-height: 400px;
  position: relative;

  @media (max-width: 615px) {
    min-height: 310px;
  }

  h2 {
    text-align: center;
    padding-top:60px;
    color:#e1524b;
    font-size: 40px;
    font-family: 'Open Sans', arial;
    font-weight: 600;
    margin-bottom: 10px;
  }

  p {
    text-align: center;
    font-size: 13px;
    max-width: 60%;
    margin: 0 auto;
    color:#777777;
    margin-bottom: 60px;

    @media (max-width: 615px) {
      font-size: 15px;
      line-height: 18px;
      margin-bottom: 30px;
    }
  }

  .container {
    max-width: 1200px;
    margin:0 auto;
    position: relative;
    display: block;
  }

  img {
    position: absolute;
    width: 100%;

    @media (max-width: 615px) {
      width:98%;
      margin:0 1%;
    }

  }
}

.clients {
  padding-bottom: 40px;
  padding-top:10%;

  //@media(max-width:740px) {
  //  padding-top: 60px;
  //}

  @media(max-width: 615px) {
    padding:5%;
  }

  h4 {
    font-size:16px;
    font-weight:bolder;
    line-height: 19px;
    color:#7f8c8c;
    margin-bottom: 30px;

    @media(max-width: 615px) {
      text-align: center;
    }
  }

  .container {
    max-width: 1200px;
    margin:0 auto;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;

    @media (max-width: 768px) {
      flex-wrap: wrap;
    }

    .chooseUs {
      margin-left:10px;
      margin-bottom: 30px;

      @media(max-width: 615px) {
        text-align: center;
        margin-left: 0;
      }

      li {
        display: inline-block;
        white-space: nowrap;

        span {
          margin-right:10px;
          vertical-align: middle;
        }
        color:#777777;
        font-family: 'Open Sans', arial;
        font-size:13px;
        line-height: 26px;
        font-weight: 600;
      }
    }
  }



  .testimonial {
    background:#f8f8f8;
    padding:10px 5px 10px 10px;
    font-size:13px;
    line-height: 24px;
    color:#777777;
    margin-left: 10px;
    margin-right:10px;
  }

  .spechTriangle {
    display: inline-block;
    margin-right:20px;
    margin-left: 10%;
  }

  .name {
    display: inline-block;
    color:#777;
    font-weight: 600;

    @media(max-width: 615px) {
      margin-bottom: 30px;
    }

  }


  .circle-text-half {
    font-weight: bolder;
    color:#7f8c8c;
    margin-top:5px;
  }

  .quater {
    width:25%;
    vertical-align: top;
    display: inline-block;
    padding-left:1%;
    padding-right:1%;

    @media(max-width:768px) {
      width: 50%;
    }

    @media (max-width: 615px) {
      width:100%;
    }

  }

  .half {
    width: 48%;
    margin:0 1%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @media(max-width:768px) {
      width: 100%;
      order:-1;
    }


    p {
      font-size:13px;
      color:#777;
      line-height: 24px;
      padding:0 30px;
      font-weight: 600;
      width:100%;

      @media(max-width:990px) {
        text-align: center;

      }
    }

    a {
      color:#e1524b;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }

    @media (max-width: 615px) {
      width:100%;
    }
  }

  .stat {
    margin-top:50px;
    width:25%;
    display:flex;
    align-items: center;
    flex-direction: column;
    min-width: 120px;

    @media(max-width:990px) {
      width: 50%;
    }

    @media(max-width:740px) {
      width:50%;
    }

    .circliful {
      display: block;
    }

    h4 {
      font-size:16px;
      color:#7f8c8c;
      font-weight: bolder;
      text-align: center;
      display: block;
      margin-top:-46px;
    }
  }
}


.clientSay {
  padding-left: 2%!important;
}

// footer

$susy: (
  columns:12,
  container:1200px,
  global-box-sizing:border-box
);

@include border-box-sizing;

footer {
  background:#76c7c0;
  padding:40px 0 40px 0;
  background-position: 0 -2px;
  background-repeat: repeat-x;
  min-height: 200px;

  .container {
    display: none;
  }
}


.socialBar {
  min-height: 60px;
  background:#6ab3ac;
}


