#topNav {
  background:#76c7c0;
  height: 80px;
  align-items: center;
  display: flex;
  flex-direction:row;
  background-image:url(../images/navBg.png);
  background-position: bottom center;
  background-repeat: repeat-x;


  .container {
    width: 990px;
    position: relative;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-content:center;

  }

  h1 {
    text-indent: -9999px;
    background:url(../images/logo.png) no-repeat;
    display: block;
    height:27px;
    width:223px;
    position: relative;

    @media(max-width:768px) {
      margin-left: 20px;
    }



  }

}

.mainNav {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  flex-direction: row;
  margin:0;
  width:60%;
  justify-content: space-between;

  @media(max-width:768px) {
    flex-direction: column;
    max-width: 200px;
    position: absolute;
    right:-200px;
    //right:0;
    transform: translate3d(0,0,0);
    transition: all .5s linear;
    top:53px;
    background:rgba(0,0,0,0.7);
    height:300vh;
    z-index: 100;
    justify-content: flex-start;
  }


  .subMenu {
    border-radius: 8px;
    background:#e8645a;
    display: none;
    position: absolute;
    margin-top:15px;
    z-index: 300;

    @media(max-width:768px) {
      position: relative;
      display: block;
      transition: all 1s linear;
      border-radius: 0;
      margin-top:0px;
      display: none;
      background:darken(#e8645a,5%);

    }

    ul {
      min-width:250px;
      display: block;

      list-style-type:none;
      padding:5px;

      @media(max-width:768px) {
        min-width: 100%;
        //display: none;
      }
    }

    li {
      background:lighten(#e8645a,4%);
      padding:10px;
      color:#fff;
      margin:5px 0;
      font-family: arial;

    }
  }

  li {
    flex:0 1 auto;
    margin:0;
    padding:0;
    position: relative;
    transition: all linear .1s;

    a {
      font-size:14px;
      color:#fff;
      text-decoration: none;
      font-family: arial;
      display: block;
      padding:10px 10px 10px 10px;
      border-radius: 6px;
      vertical-align: bottom;

      &.sub {
        padding:10px 10px 5px 10px;

        &:before {
          content:url(../images/arrowDown.png);
          vertical-align: center;
          margin:0 5px 0 0;
          position: relative;
          top:-2px;
        }



      }

      &.active, &:hover {
        background:#62a29e;
        color:#fff;
        padding:10px 10px 5px 10px;
        border-bottom: 6px solid darken(#62a29e,2%);

        @media(max-width:768px) {
          border-radius: 0;
        }
      }



      &.subActive {
        background:#e8645a;
        border-bottom: 6px solid darken(#e8645a,4%);

        @media(max-width:768px) {
          border-radius: 0;
          padding-bottom: 10px;
        }
      }





    }


  }



  .port:hover {
    .subMenu {
      display: block;
    }
  }
}

.menuIcon {
  display:none;
  color:#fff;
  margin-right:10px;
  transition: all .4s linear;
  visibility: hidden;
  position: absolute;
  top:0;
  right:0;
  cursor: pointer;

  @media(max-width: 768px) {
    display: inline-block;
    visibility: visible;
  }
}