@import url(http://fonts.googleapis.com/css?family=Open+Sans:700italic,400,700,600,300,800);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background: #f3f3f3;
  font-family: 'Open Sans', arial; }
  body * {
    box-sizing: border-box; }

#rotatingBanner {
  position: relative;
  height: 500px;
  top: 0px;
  margin-bottom: 30px; }
  @media (max-width: 615px) {
    #rotatingBanner {
      height: 300px; } }
  #rotatingBanner .slide {
    height: 500px;
    display: inline-block;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    transition: all linear .5s; }
    #rotatingBanner .slide.active {
      display: inline-block; }
    @media (max-width: 615px) {
      #rotatingBanner .slide {
        height: 300px; } }
    #rotatingBanner .slide h2 {
      background: #e2534b;
      color: #fff;
      font-size: 50px;
      text-align: center;
      padding: 5px 10px 5px 10px;
      display: inline-block;
      font-family: 'Open Sans';
      font-weight: bold;
      margin-top: 150px;
      border-radius: 6px;
      text-transform: uppercase; }
      @media (max-width: 615px) {
        #rotatingBanner .slide h2 {
          font-size: 40px;
          margin-top: 15%; } }
    #rotatingBanner .slide .infoBox {
      background: rgba(0, 0, 0, 0.4);
      display: block;
      color: #fff;
      max-width: 60%;
      margin: 10px auto;
      padding: 5px;
      line-height: 26px;
      font-size: 16px;
      font-family: arial;
      border-radius: 6px;
      max-width: 450px; }
      @media (max-width: 615px) {
        #rotatingBanner .slide .infoBox {
          width: 200px; } }
  #rotatingBanner .slide-1 {
    background: #1f4b4b; }
  #rotatingBanner .slide-2 {
    background: #2e6f6f; }
  #rotatingBanner .slide-3 {
    background: #183939; }
  #rotatingBanner .slideCount {
    z-index: 200;
    position: absolute;
    width: 100%;
    bottom: 0; }
    #rotatingBanner .slideCount ul {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      width: 300px;
      margin: 30px auto; }
      #rotatingBanner .slideCount ul li {
        background: #b0b8b9;
        height: 5px;
        width: 30%;
        cursor: pointer;
        transition: all linear .2s; }
        #rotatingBanner .slideCount ul li.active {
          background: #e8645a; }

.servicesArea {
  background: #f3f3f3; }
  .servicesArea .container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    display: block; }

.servicesMsg {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: #ececec;
  padding: 10px 0px;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 50px;
  padding-bottom: 15px; }
  @media (max-width: 615px) {
    .servicesMsg {
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; } }
  .servicesMsg .left {
    padding: 0px 20px; }
    @media (max-width: 615px) {
      .servicesMsg .left {
        margin-bottom: 5%;
        text-align: center; } }
  .servicesMsg .right {
    padding: 0 20px 0 10px; }
  .servicesMsg h4 {
    color: #7f8c8c;
    font-size: 30px;
    line-height: 36px;
    font-weight: 600; }
    @media (max-width: 515px) {
      .servicesMsg h4 {
        line-height: 24px;
        margin-bottom: 10px; } }
  .servicesMsg p {
    font-size: 13px;
    color: #777777;
    line-height: 16px; }
  .servicesMsg .btn {
    background: #76caca;
    color: #fff;
    padding: 10px 20px 10px 20px;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
    vertical-align: middle;
    border-radius: 6px;
    margin: 0 auto;
    display: block;
    text-align: center;
    min-width: 150px; }
    .servicesMsg .btn:hover {
      background: #e8645a; }

.services {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 20px;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 60px; }
  @media (max-width: 768px) {
    .services {
      padding: 0 5px; } }
  @media (max-width: 615px) {
    .services {
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; } }

.serviceItem {
  background: #fff;
  display: block;
  padding: 10px;
  width: 22%;
  text-align: center;
  position: relative; }
  @media (max-width: 768px) {
    .serviceItem {
      width: 48%;
      margin-bottom: 30px; } }
  @media (max-width: 615px) {
    .serviceItem {
      width: 100%;
      margin-bottom: 20%; } }
  .serviceItem p {
    font-size: 13px;
    line-height: 20px;
    font-family: 'Open Sans', arial;
    font-weight: 400;
    margin-bottom: 10px;
    color: #777777;
    margin-bottom: 30px; }
    @media (max-width: 615px) {
      .serviceItem p {
        max-width: 70%;
        margin: 0 auto;
        margin-bottom: 40px; } }
  .serviceItem h4 {
    font-weight: bold;
    color: #7f8c8c;
    margin-bottom: 20px; }
  .serviceItem img {
    margin-bottom: 20px;
    margin-top: 30px; }
  .serviceItem .btn {
    background: #76caca;
    color: #fff;
    padding: 10px 20px 10px 20px;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
    border-radius: 6px;
    display: block;
    text-align: center;
    position: absolute;
    bottom: -20px;
    width: 90%;
    left: 5%; }
    .serviceItem .btn:hover {
      background: #e8645a; }
  .serviceItem.active .btn {
    background: #e8645a; }

.aboutSection {
  background: #ececec;
  background-image: url(../images/aboutUsBg.png);
  background-position: 0 -2px;
  background-repeat: repeat-x;
  min-height: 400px;
  position: relative; }
  @media (max-width: 615px) {
    .aboutSection {
      min-height: 310px; } }
  .aboutSection h2 {
    text-align: center;
    padding-top: 60px;
    color: #e1524b;
    font-size: 40px;
    font-family: 'Open Sans', arial;
    font-weight: 600;
    margin-bottom: 10px; }
  .aboutSection p {
    text-align: center;
    font-size: 13px;
    max-width: 60%;
    margin: 0 auto;
    color: #777777;
    margin-bottom: 60px; }
    @media (max-width: 615px) {
      .aboutSection p {
        font-size: 15px;
        line-height: 18px;
        margin-bottom: 30px; } }
  .aboutSection .container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    display: block; }
  .aboutSection img {
    position: absolute;
    width: 100%; }
    @media (max-width: 615px) {
      .aboutSection img {
        width: 98%;
        margin: 0 1%; } }

.clients {
  padding-bottom: 40px;
  padding-top: 10%; }
  @media (max-width: 615px) {
    .clients {
      padding: 5%; } }
  .clients h4 {
    font-size: 16px;
    font-weight: bolder;
    line-height: 19px;
    color: #7f8c8c;
    margin-bottom: 30px; }
    @media (max-width: 615px) {
      .clients h4 {
        text-align: center; } }
  .clients .container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start; }
    @media (max-width: 768px) {
      .clients .container {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }
    .clients .container .chooseUs {
      margin-left: 10px;
      margin-bottom: 30px; }
      @media (max-width: 615px) {
        .clients .container .chooseUs {
          text-align: center;
          margin-left: 0; } }
      .clients .container .chooseUs li {
        display: inline-block;
        white-space: nowrap;
        color: #777777;
        font-family: 'Open Sans', arial;
        font-size: 13px;
        line-height: 26px;
        font-weight: 600; }
        .clients .container .chooseUs li span {
          margin-right: 10px;
          vertical-align: middle; }
  .clients .testimonial {
    background: #f8f8f8;
    padding: 10px 5px 10px 10px;
    font-size: 13px;
    line-height: 24px;
    color: #777777;
    margin-left: 10px;
    margin-right: 10px; }
  .clients .spechTriangle {
    display: inline-block;
    margin-right: 20px;
    margin-left: 10%; }
  .clients .name {
    display: inline-block;
    color: #777;
    font-weight: 600; }
    @media (max-width: 615px) {
      .clients .name {
        margin-bottom: 30px; } }
  .clients .circle-text-half {
    font-weight: bolder;
    color: #7f8c8c;
    margin-top: 5px; }
  .clients .quater {
    width: 25%;
    vertical-align: top;
    display: inline-block;
    padding-left: 1%;
    padding-right: 1%; }
    @media (max-width: 768px) {
      .clients .quater {
        width: 50%; } }
    @media (max-width: 615px) {
      .clients .quater {
        width: 100%; } }
  .clients .half {
    width: 48%;
    margin: 0 1%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    @media (max-width: 768px) {
      .clients .half {
        width: 100%;
        -webkit-order: -1;
        -ms-flex-order: -1;
        order: -1; } }
    .clients .half p {
      font-size: 13px;
      color: #777;
      line-height: 24px;
      padding: 0 30px;
      font-weight: 600;
      width: 100%; }
      @media (max-width: 990px) {
        .clients .half p {
          text-align: center; } }
    .clients .half a {
      color: #e1524b;
      text-decoration: underline; }
      .clients .half a:hover {
        text-decoration: none; }
    @media (max-width: 615px) {
      .clients .half {
        width: 100%; } }
  .clients .stat {
    margin-top: 50px;
    width: 25%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 120px; }
    @media (max-width: 990px) {
      .clients .stat {
        width: 50%; } }
    @media (max-width: 740px) {
      .clients .stat {
        width: 50%; } }
    .clients .stat .circliful {
      display: block; }
    .clients .stat h4 {
      font-size: 16px;
      color: #7f8c8c;
      font-weight: bolder;
      text-align: center;
      display: block;
      margin-top: -46px; }

.clientSay {
  padding-left: 2% !important; }

*, *:before, *:after {
  box-sizing: border-box; }

footer {
  background: #76c7c0;
  padding: 40px 0 40px 0;
  background-position: 0 -2px;
  background-repeat: repeat-x;
  min-height: 200px; }
  footer .container {
    display: none; }

.socialBar {
  min-height: 60px;
  background: #6ab3ac; }

#topNav {
  background: #76c7c0;
  height: 80px;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  background-image: url(../images/navBg.png);
  background-position: bottom center;
  background-repeat: repeat-x; }
  #topNav .container {
    width: 990px;
    position: relative;
    margin: 0 auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center; }
  #topNav h1 {
    text-indent: -9999px;
    background: url(../images/logo.png) no-repeat;
    display: block;
    height: 27px;
    width: 223px;
    position: relative; }
    @media (max-width: 768px) {
      #topNav h1 {
        margin-left: 20px; } }

.mainNav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  list-style: none;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 0;
  width: 60%;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (max-width: 768px) {
    .mainNav {
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      max-width: 200px;
      position: absolute;
      right: -200px;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      transition: all .5s linear;
      top: 53px;
      background: rgba(0, 0, 0, 0.7);
      height: 300vh;
      z-index: 100;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start; } }
  .mainNav .subMenu {
    border-radius: 8px;
    background: #e8645a;
    display: none;
    position: absolute;
    margin-top: 15px;
    z-index: 300; }
    @media (max-width: 768px) {
      .mainNav .subMenu {
        position: relative;
        display: block;
        transition: all 1s linear;
        border-radius: 0;
        margin-top: 0px;
        display: none;
        background: #e54f44; } }
    .mainNav .subMenu ul {
      min-width: 250px;
      display: block;
      list-style-type: none;
      padding: 5px; }
      @media (max-width: 768px) {
        .mainNav .subMenu ul {
          min-width: 100%; } }
    .mainNav .subMenu li {
      background: #ea756c;
      padding: 10px;
      color: #fff;
      margin: 5px 0;
      font-family: arial; }
  .mainNav li {
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    margin: 0;
    padding: 0;
    position: relative;
    transition: all linear .1s; }
    .mainNav li a {
      font-size: 14px;
      color: #fff;
      text-decoration: none;
      font-family: arial;
      display: block;
      padding: 10px 10px 10px 10px;
      border-radius: 6px;
      vertical-align: bottom; }
      .mainNav li a.sub {
        padding: 10px 10px 5px 10px; }
        .mainNav li a.sub:before {
          content: url(../images/arrowDown.png);
          vertical-align: center;
          margin: 0 5px 0 0;
          position: relative;
          top: -2px; }
      .mainNav li a.active, .mainNav li a:hover {
        background: #62a29e;
        color: #fff;
        padding: 10px 10px 5px 10px;
        border-bottom: 6px solid #5d9d99; }
        @media (max-width: 768px) {
          .mainNav li a.active, .mainNav li a:hover {
            border-radius: 0; } }
      .mainNav li a.subActive {
        background: #e8645a;
        border-bottom: 6px solid #e65348; }
        @media (max-width: 768px) {
          .mainNav li a.subActive {
            border-radius: 0;
            padding-bottom: 10px; } }
  .mainNav .port:hover .subMenu {
    display: block; }

.menuIcon {
  display: none;
  color: #fff;
  margin-right: 10px;
  transition: all .4s linear;
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer; }
  @media (max-width: 768px) {
    .menuIcon {
      display: inline-block;
      visibility: visible; } }
