.container-fluid, .container {
  margin-left: auto;
  margin-right: auto;
  width: 100%; }

.row {
  display: inline-block;
  position: relative;
  margin-left: -0.5rem;
  width: 100%; }

.col-xs, .col-md, .col-lg, .col-uber {
  padding-top: 0.5rem;
  padding-left: 5px;
  padding-left: 0.5rem;
  display: inline-block; }
  .col-xs .row, .col-md .row, .col-lg .row, .col-uber .row {
    margin-left: 0;
    width: 100%; }

.container {
  max-width: 1000px; }

.row:before,
.row:after {
  content: "";
  display: table;
  clear: both; }

.col-xs, .col-md, .col-lg, .col-uber {
  width: auto;
  max-width: 100%;
  min-height: 1px; }

.col-xs-1 {
  display: inline-block;
  width: auto;
  position: relative;
  padding-left: 5px;
  padding-left: 0.5rem;
  margin-bottom: 0.5px;
  margin-bottom: 0.5rem; }
  .col-xs-1 .row {
    margin-left: 0;
    width: 100%; }
    .col-xs-1 .row > div:first-child {
      padding: 0; }

.col-xs-offset-1 {
  padding-top: 0.5rem;
  padding-left: 5px;
  padding-left: 0.5rem;
  display: inline-block; }
  .col-xs-offset-1 .row {
    margin-left: 0;
    width: 100%; }
    .col-xs-offset-1 .row > div:first-child {
      padding: 0; }

.col-xs-2 {
  display: inline-block;
  width: auto;
  position: relative;
  padding-left: 5px;
  padding-left: 0.5rem;
  margin-bottom: 0.5px;
  margin-bottom: 0.5rem; }
  .col-xs-2 .row {
    margin-left: 0;
    width: 100%; }
    .col-xs-2 .row > div:first-child {
      padding: 0; }

.col-xs-offset-2 {
  padding-top: 0.5rem;
  padding-left: 5px;
  padding-left: 0.5rem;
  display: inline-block; }
  .col-xs-offset-2 .row {
    margin-left: 0;
    width: 100%; }
    .col-xs-offset-2 .row > div:first-child {
      padding: 0; }

.col-xs-3 {
  display: inline-block;
  width: auto;
  position: relative;
  padding-left: 5px;
  padding-left: 0.5rem;
  margin-bottom: 0.5px;
  margin-bottom: 0.5rem; }
  .col-xs-3 .row {
    margin-left: 0;
    width: 100%; }
    .col-xs-3 .row > div:first-child {
      padding: 0; }

.col-xs-offset-3 {
  padding-top: 0.5rem;
  padding-left: 5px;
  padding-left: 0.5rem;
  display: inline-block; }
  .col-xs-offset-3 .row {
    margin-left: 0;
    width: 100%; }
    .col-xs-offset-3 .row > div:first-child {
      padding: 0; }

.col-xs-4 {
  display: inline-block;
  width: auto;
  position: relative;
  padding-left: 5px;
  padding-left: 0.5rem;
  margin-bottom: 0.5px;
  margin-bottom: 0.5rem; }
  .col-xs-4 .row {
    margin-left: 0;
    width: 100%; }
    .col-xs-4 .row > div:first-child {
      padding: 0; }

.col-xs-offset-4 {
  padding-top: 0.5rem;
  padding-left: 5px;
  padding-left: 0.5rem;
  display: inline-block; }
  .col-xs-offset-4 .row {
    margin-left: 0;
    width: 100%; }
    .col-xs-offset-4 .row > div:first-child {
      padding: 0; }

.col-xs-5 {
  display: inline-block;
  width: auto;
  position: relative;
  padding-left: 5px;
  padding-left: 0.5rem;
  margin-bottom: 0.5px;
  margin-bottom: 0.5rem; }
  .col-xs-5 .row {
    margin-left: 0;
    width: 100%; }
    .col-xs-5 .row > div:first-child {
      padding: 0; }

.col-xs-offset-5 {
  padding-top: 0.5rem;
  padding-left: 5px;
  padding-left: 0.5rem;
  display: inline-block; }
  .col-xs-offset-5 .row {
    margin-left: 0;
    width: 100%; }
    .col-xs-offset-5 .row > div:first-child {
      padding: 0; }

.col-xs-6 {
  display: inline-block;
  width: auto;
  position: relative;
  padding-left: 5px;
  padding-left: 0.5rem;
  margin-bottom: 0.5px;
  margin-bottom: 0.5rem; }
  .col-xs-6 .row {
    margin-left: 0;
    width: 100%; }
    .col-xs-6 .row > div:first-child {
      padding: 0; }

.col-xs-offset-6 {
  padding-top: 0.5rem;
  padding-left: 5px;
  padding-left: 0.5rem;
  display: inline-block; }
  .col-xs-offset-6 .row {
    margin-left: 0;
    width: 100%; }
    .col-xs-offset-6 .row > div:first-child {
      padding: 0; }

.col-xs-7 {
  display: inline-block;
  width: auto;
  position: relative;
  padding-left: 5px;
  padding-left: 0.5rem;
  margin-bottom: 0.5px;
  margin-bottom: 0.5rem; }
  .col-xs-7 .row {
    margin-left: 0;
    width: 100%; }
    .col-xs-7 .row > div:first-child {
      padding: 0; }

.col-xs-offset-7 {
  padding-top: 0.5rem;
  padding-left: 5px;
  padding-left: 0.5rem;
  display: inline-block; }
  .col-xs-offset-7 .row {
    margin-left: 0;
    width: 100%; }
    .col-xs-offset-7 .row > div:first-child {
      padding: 0; }

.col-xs-8 {
  display: inline-block;
  width: auto;
  position: relative;
  padding-left: 5px;
  padding-left: 0.5rem;
  margin-bottom: 0.5px;
  margin-bottom: 0.5rem; }
  .col-xs-8 .row {
    margin-left: 0;
    width: 100%; }
    .col-xs-8 .row > div:first-child {
      padding: 0; }

.col-xs-offset-8 {
  padding-top: 0.5rem;
  padding-left: 5px;
  padding-left: 0.5rem;
  display: inline-block; }
  .col-xs-offset-8 .row {
    margin-left: 0;
    width: 100%; }
    .col-xs-offset-8 .row > div:first-child {
      padding: 0; }

.col-xs-9 {
  display: inline-block;
  width: auto;
  position: relative;
  padding-left: 5px;
  padding-left: 0.5rem;
  margin-bottom: 0.5px;
  margin-bottom: 0.5rem; }
  .col-xs-9 .row {
    margin-left: 0;
    width: 100%; }
    .col-xs-9 .row > div:first-child {
      padding: 0; }

.col-xs-offset-9 {
  padding-top: 0.5rem;
  padding-left: 5px;
  padding-left: 0.5rem;
  display: inline-block; }
  .col-xs-offset-9 .row {
    margin-left: 0;
    width: 100%; }
    .col-xs-offset-9 .row > div:first-child {
      padding: 0; }

.col-xs-10 {
  display: inline-block;
  width: auto;
  position: relative;
  padding-left: 5px;
  padding-left: 0.5rem;
  margin-bottom: 0.5px;
  margin-bottom: 0.5rem; }
  .col-xs-10 .row {
    margin-left: 0;
    width: 100%; }
    .col-xs-10 .row > div:first-child {
      padding: 0; }

.col-xs-offset-10 {
  padding-top: 0.5rem;
  padding-left: 5px;
  padding-left: 0.5rem;
  display: inline-block; }
  .col-xs-offset-10 .row {
    margin-left: 0;
    width: 100%; }
    .col-xs-offset-10 .row > div:first-child {
      padding: 0; }

.col-xs-11 {
  display: inline-block;
  width: auto;
  position: relative;
  padding-left: 5px;
  padding-left: 0.5rem;
  margin-bottom: 0.5px;
  margin-bottom: 0.5rem; }
  .col-xs-11 .row {
    margin-left: 0;
    width: 100%; }
    .col-xs-11 .row > div:first-child {
      padding: 0; }

.col-xs-offset-11 {
  padding-top: 0.5rem;
  padding-left: 5px;
  padding-left: 0.5rem;
  display: inline-block; }
  .col-xs-offset-11 .row {
    margin-left: 0;
    width: 100%; }
    .col-xs-offset-11 .row > div:first-child {
      padding: 0; }

.col-xs-12 {
  display: inline-block;
  width: auto;
  position: relative;
  padding-left: 5px;
  padding-left: 0.5rem;
  margin-bottom: 0.5px;
  margin-bottom: 0.5rem; }
  .col-xs-12 .row {
    margin-left: 0;
    width: 100%; }
    .col-xs-12 .row > div:first-child {
      padding: 0; }

.col-xs-offset-12 {
  padding-top: 0.5rem;
  padding-left: 5px;
  padding-left: 0.5rem;
  display: inline-block; }
  .col-xs-offset-12 .row {
    margin-left: 0;
    width: 100%; }
    .col-xs-offset-12 .row > div:first-child {
      padding: 0; }

.col-xs-1 {
  width: 8.33333%; }

.col-xs-offset-1 {
  margin-left: 8.33333%; }

.col-xs-2 {
  width: 16.66667%; }

.col-xs-offset-2 {
  margin-left: 16.66667%; }

.col-xs-3 {
  width: 25%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-4 {
  width: 33.33333%; }

.col-xs-offset-4 {
  margin-left: 33.33333%; }

.col-xs-5 {
  width: 41.66667%; }

.col-xs-offset-5 {
  margin-left: 41.66667%; }

.col-xs-6 {
  width: 50%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-7 {
  width: 58.33333%; }

.col-xs-offset-7 {
  margin-left: 58.33333%; }

.col-xs-8 {
  width: 66.66667%; }

.col-xs-offset-8 {
  margin-left: 66.66667%; }

.col-xs-9 {
  width: 75%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-10 {
  width: 83.33333%; }

.col-xs-offset-10 {
  margin-left: 83.33333%; }

.col-xs-11 {
  width: 91.66667%; }

.col-xs-offset-11 {
  margin-left: 91.66667%; }

.col-xs-12 {
  width: 100%; }

.col-xs-offset-12 {
  margin-left: 100%; }

@media (min-width: 615px) and (max-width: 990px) {
  .col-md-1 {
    display: inline-block;
    width: auto;
    position: relative;
    padding-left: 5px;
    padding-left: 0.5rem;
    margin-bottom: 0.5px;
    margin-bottom: 0.5rem; }
    .col-md-1 .row {
      margin-left: 0;
      width: 100%; }
      .col-md-1 .row > div:first-child {
        padding: 0; }

  .col-md-offset-1 {
    padding-top: 0.5rem;
    padding-left: 5px;
    padding-left: 0.5rem;
    display: inline-block; }
    .col-md-offset-1 .row {
      margin-left: 0;
      width: 100%; }
      .col-md-offset-1 .row > div:first-child {
        padding: 0; }

  .col-md-2 {
    display: inline-block;
    width: auto;
    position: relative;
    padding-left: 5px;
    padding-left: 0.5rem;
    margin-bottom: 0.5px;
    margin-bottom: 0.5rem; }
    .col-md-2 .row {
      margin-left: 0;
      width: 100%; }
      .col-md-2 .row > div:first-child {
        padding: 0; }

  .col-md-offset-2 {
    padding-top: 0.5rem;
    padding-left: 5px;
    padding-left: 0.5rem;
    display: inline-block; }
    .col-md-offset-2 .row {
      margin-left: 0;
      width: 100%; }
      .col-md-offset-2 .row > div:first-child {
        padding: 0; }

  .col-md-3 {
    display: inline-block;
    width: auto;
    position: relative;
    padding-left: 5px;
    padding-left: 0.5rem;
    margin-bottom: 0.5px;
    margin-bottom: 0.5rem; }
    .col-md-3 .row {
      margin-left: 0;
      width: 100%; }
      .col-md-3 .row > div:first-child {
        padding: 0; }

  .col-md-offset-3 {
    padding-top: 0.5rem;
    padding-left: 5px;
    padding-left: 0.5rem;
    display: inline-block; }
    .col-md-offset-3 .row {
      margin-left: 0;
      width: 100%; }
      .col-md-offset-3 .row > div:first-child {
        padding: 0; }

  .col-md-4 {
    display: inline-block;
    width: auto;
    position: relative;
    padding-left: 5px;
    padding-left: 0.5rem;
    margin-bottom: 0.5px;
    margin-bottom: 0.5rem; }
    .col-md-4 .row {
      margin-left: 0;
      width: 100%; }
      .col-md-4 .row > div:first-child {
        padding: 0; }

  .col-md-offset-4 {
    padding-top: 0.5rem;
    padding-left: 5px;
    padding-left: 0.5rem;
    display: inline-block; }
    .col-md-offset-4 .row {
      margin-left: 0;
      width: 100%; }
      .col-md-offset-4 .row > div:first-child {
        padding: 0; }

  .col-md-5 {
    display: inline-block;
    width: auto;
    position: relative;
    padding-left: 5px;
    padding-left: 0.5rem;
    margin-bottom: 0.5px;
    margin-bottom: 0.5rem; }
    .col-md-5 .row {
      margin-left: 0;
      width: 100%; }
      .col-md-5 .row > div:first-child {
        padding: 0; }

  .col-md-offset-5 {
    padding-top: 0.5rem;
    padding-left: 5px;
    padding-left: 0.5rem;
    display: inline-block; }
    .col-md-offset-5 .row {
      margin-left: 0;
      width: 100%; }
      .col-md-offset-5 .row > div:first-child {
        padding: 0; }

  .col-md-6 {
    display: inline-block;
    width: auto;
    position: relative;
    padding-left: 5px;
    padding-left: 0.5rem;
    margin-bottom: 0.5px;
    margin-bottom: 0.5rem; }
    .col-md-6 .row {
      margin-left: 0;
      width: 100%; }
      .col-md-6 .row > div:first-child {
        padding: 0; }

  .col-md-offset-6 {
    padding-top: 0.5rem;
    padding-left: 5px;
    padding-left: 0.5rem;
    display: inline-block; }
    .col-md-offset-6 .row {
      margin-left: 0;
      width: 100%; }
      .col-md-offset-6 .row > div:first-child {
        padding: 0; }

  .col-md-7 {
    display: inline-block;
    width: auto;
    position: relative;
    padding-left: 5px;
    padding-left: 0.5rem;
    margin-bottom: 0.5px;
    margin-bottom: 0.5rem; }
    .col-md-7 .row {
      margin-left: 0;
      width: 100%; }
      .col-md-7 .row > div:first-child {
        padding: 0; }

  .col-md-offset-7 {
    padding-top: 0.5rem;
    padding-left: 5px;
    padding-left: 0.5rem;
    display: inline-block; }
    .col-md-offset-7 .row {
      margin-left: 0;
      width: 100%; }
      .col-md-offset-7 .row > div:first-child {
        padding: 0; }

  .col-md-8 {
    display: inline-block;
    width: auto;
    position: relative;
    padding-left: 5px;
    padding-left: 0.5rem;
    margin-bottom: 0.5px;
    margin-bottom: 0.5rem; }
    .col-md-8 .row {
      margin-left: 0;
      width: 100%; }
      .col-md-8 .row > div:first-child {
        padding: 0; }

  .col-md-offset-8 {
    padding-top: 0.5rem;
    padding-left: 5px;
    padding-left: 0.5rem;
    display: inline-block; }
    .col-md-offset-8 .row {
      margin-left: 0;
      width: 100%; }
      .col-md-offset-8 .row > div:first-child {
        padding: 0; }

  .col-md-9 {
    display: inline-block;
    width: auto;
    position: relative;
    padding-left: 5px;
    padding-left: 0.5rem;
    margin-bottom: 0.5px;
    margin-bottom: 0.5rem; }
    .col-md-9 .row {
      margin-left: 0;
      width: 100%; }
      .col-md-9 .row > div:first-child {
        padding: 0; }

  .col-md-offset-9 {
    padding-top: 0.5rem;
    padding-left: 5px;
    padding-left: 0.5rem;
    display: inline-block; }
    .col-md-offset-9 .row {
      margin-left: 0;
      width: 100%; }
      .col-md-offset-9 .row > div:first-child {
        padding: 0; }

  .col-md-10 {
    display: inline-block;
    width: auto;
    position: relative;
    padding-left: 5px;
    padding-left: 0.5rem;
    margin-bottom: 0.5px;
    margin-bottom: 0.5rem; }
    .col-md-10 .row {
      margin-left: 0;
      width: 100%; }
      .col-md-10 .row > div:first-child {
        padding: 0; }

  .col-md-offset-10 {
    padding-top: 0.5rem;
    padding-left: 5px;
    padding-left: 0.5rem;
    display: inline-block; }
    .col-md-offset-10 .row {
      margin-left: 0;
      width: 100%; }
      .col-md-offset-10 .row > div:first-child {
        padding: 0; }

  .col-md-11 {
    display: inline-block;
    width: auto;
    position: relative;
    padding-left: 5px;
    padding-left: 0.5rem;
    margin-bottom: 0.5px;
    margin-bottom: 0.5rem; }
    .col-md-11 .row {
      margin-left: 0;
      width: 100%; }
      .col-md-11 .row > div:first-child {
        padding: 0; }

  .col-md-offset-11 {
    padding-top: 0.5rem;
    padding-left: 5px;
    padding-left: 0.5rem;
    display: inline-block; }
    .col-md-offset-11 .row {
      margin-left: 0;
      width: 100%; }
      .col-md-offset-11 .row > div:first-child {
        padding: 0; }

  .col-md-12 {
    display: inline-block;
    width: auto;
    position: relative;
    padding-left: 5px;
    padding-left: 0.5rem;
    margin-bottom: 0.5px;
    margin-bottom: 0.5rem; }
    .col-md-12 .row {
      margin-left: 0;
      width: 100%; }
      .col-md-12 .row > div:first-child {
        padding: 0; }

  .col-md-offset-12 {
    padding-top: 0.5rem;
    padding-left: 5px;
    padding-left: 0.5rem;
    display: inline-block; }
    .col-md-offset-12 .row {
      margin-left: 0;
      width: 100%; }
      .col-md-offset-12 .row > div:first-child {
        padding: 0; }

  .col-md-1 {
    width: 8.33333%; }

  .col-md-offset-1 {
    margin-left: 8.33333%; }

  .col-md-2 {
    width: 16.66667%; }

  .col-md-offset-2 {
    margin-left: 16.66667%; }

  .col-md-3 {
    width: 25%; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-4 {
    width: 33.33333%; }

  .col-md-offset-4 {
    margin-left: 33.33333%; }

  .col-md-5 {
    width: 41.66667%; }

  .col-md-offset-5 {
    margin-left: 41.66667%; }

  .col-md-6 {
    width: 50%; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-7 {
    width: 58.33333%; }

  .col-md-offset-7 {
    margin-left: 58.33333%; }

  .col-md-8 {
    width: 66.66667%; }

  .col-md-offset-8 {
    margin-left: 66.66667%; }

  .col-md-9 {
    width: 75%; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-10 {
    width: 83.33333%; }

  .col-md-offset-10 {
    margin-left: 83.33333%; }

  .col-md-11 {
    width: 91.66667%; }

  .col-md-offset-11 {
    margin-left: 91.66667%; }

  .col-md-12 {
    width: 100%; }

  .col-md-offset-12 {
    margin-left: 100%; } }
@media (min-width: 768px) and (max-width: 1200px) {
  .col-lg-1 {
    display: inline-block;
    width: auto;
    position: relative;
    padding-left: 5px;
    padding-left: 0.5rem;
    margin-bottom: 0.5px;
    margin-bottom: 0.5rem; }
    .col-lg-1 .row {
      margin-left: 0;
      width: 100%; }
      .col-lg-1 .row > div:first-child {
        padding: 0; }

  .col-lg-offset-1 {
    padding-top: 0.5rem;
    padding-left: 5px;
    padding-left: 0.5rem;
    display: inline-block; }
    .col-lg-offset-1 .row {
      margin-left: 0;
      width: 100%; }
      .col-lg-offset-1 .row > div:first-child {
        padding: 0; }

  .col-lg-2 {
    display: inline-block;
    width: auto;
    position: relative;
    padding-left: 5px;
    padding-left: 0.5rem;
    margin-bottom: 0.5px;
    margin-bottom: 0.5rem; }
    .col-lg-2 .row {
      margin-left: 0;
      width: 100%; }
      .col-lg-2 .row > div:first-child {
        padding: 0; }

  .col-lg-offset-2 {
    padding-top: 0.5rem;
    padding-left: 5px;
    padding-left: 0.5rem;
    display: inline-block; }
    .col-lg-offset-2 .row {
      margin-left: 0;
      width: 100%; }
      .col-lg-offset-2 .row > div:first-child {
        padding: 0; }

  .col-lg-3 {
    display: inline-block;
    width: auto;
    position: relative;
    padding-left: 5px;
    padding-left: 0.5rem;
    margin-bottom: 0.5px;
    margin-bottom: 0.5rem; }
    .col-lg-3 .row {
      margin-left: 0;
      width: 100%; }
      .col-lg-3 .row > div:first-child {
        padding: 0; }

  .col-lg-offset-3 {
    padding-top: 0.5rem;
    padding-left: 5px;
    padding-left: 0.5rem;
    display: inline-block; }
    .col-lg-offset-3 .row {
      margin-left: 0;
      width: 100%; }
      .col-lg-offset-3 .row > div:first-child {
        padding: 0; }

  .col-lg-4 {
    display: inline-block;
    width: auto;
    position: relative;
    padding-left: 5px;
    padding-left: 0.5rem;
    margin-bottom: 0.5px;
    margin-bottom: 0.5rem; }
    .col-lg-4 .row {
      margin-left: 0;
      width: 100%; }
      .col-lg-4 .row > div:first-child {
        padding: 0; }

  .col-lg-offset-4 {
    padding-top: 0.5rem;
    padding-left: 5px;
    padding-left: 0.5rem;
    display: inline-block; }
    .col-lg-offset-4 .row {
      margin-left: 0;
      width: 100%; }
      .col-lg-offset-4 .row > div:first-child {
        padding: 0; }

  .col-lg-5 {
    display: inline-block;
    width: auto;
    position: relative;
    padding-left: 5px;
    padding-left: 0.5rem;
    margin-bottom: 0.5px;
    margin-bottom: 0.5rem; }
    .col-lg-5 .row {
      margin-left: 0;
      width: 100%; }
      .col-lg-5 .row > div:first-child {
        padding: 0; }

  .col-lg-offset-5 {
    padding-top: 0.5rem;
    padding-left: 5px;
    padding-left: 0.5rem;
    display: inline-block; }
    .col-lg-offset-5 .row {
      margin-left: 0;
      width: 100%; }
      .col-lg-offset-5 .row > div:first-child {
        padding: 0; }

  .col-lg-6 {
    display: inline-block;
    width: auto;
    position: relative;
    padding-left: 5px;
    padding-left: 0.5rem;
    margin-bottom: 0.5px;
    margin-bottom: 0.5rem; }
    .col-lg-6 .row {
      margin-left: 0;
      width: 100%; }
      .col-lg-6 .row > div:first-child {
        padding: 0; }

  .col-lg-offset-6 {
    padding-top: 0.5rem;
    padding-left: 5px;
    padding-left: 0.5rem;
    display: inline-block; }
    .col-lg-offset-6 .row {
      margin-left: 0;
      width: 100%; }
      .col-lg-offset-6 .row > div:first-child {
        padding: 0; }

  .col-lg-7 {
    display: inline-block;
    width: auto;
    position: relative;
    padding-left: 5px;
    padding-left: 0.5rem;
    margin-bottom: 0.5px;
    margin-bottom: 0.5rem; }
    .col-lg-7 .row {
      margin-left: 0;
      width: 100%; }
      .col-lg-7 .row > div:first-child {
        padding: 0; }

  .col-lg-offset-7 {
    padding-top: 0.5rem;
    padding-left: 5px;
    padding-left: 0.5rem;
    display: inline-block; }
    .col-lg-offset-7 .row {
      margin-left: 0;
      width: 100%; }
      .col-lg-offset-7 .row > div:first-child {
        padding: 0; }

  .col-lg-8 {
    display: inline-block;
    width: auto;
    position: relative;
    padding-left: 5px;
    padding-left: 0.5rem;
    margin-bottom: 0.5px;
    margin-bottom: 0.5rem; }
    .col-lg-8 .row {
      margin-left: 0;
      width: 100%; }
      .col-lg-8 .row > div:first-child {
        padding: 0; }

  .col-lg-offset-8 {
    padding-top: 0.5rem;
    padding-left: 5px;
    padding-left: 0.5rem;
    display: inline-block; }
    .col-lg-offset-8 .row {
      margin-left: 0;
      width: 100%; }
      .col-lg-offset-8 .row > div:first-child {
        padding: 0; }

  .col-lg-9 {
    display: inline-block;
    width: auto;
    position: relative;
    padding-left: 5px;
    padding-left: 0.5rem;
    margin-bottom: 0.5px;
    margin-bottom: 0.5rem; }
    .col-lg-9 .row {
      margin-left: 0;
      width: 100%; }
      .col-lg-9 .row > div:first-child {
        padding: 0; }

  .col-lg-offset-9 {
    padding-top: 0.5rem;
    padding-left: 5px;
    padding-left: 0.5rem;
    display: inline-block; }
    .col-lg-offset-9 .row {
      margin-left: 0;
      width: 100%; }
      .col-lg-offset-9 .row > div:first-child {
        padding: 0; }

  .col-lg-10 {
    display: inline-block;
    width: auto;
    position: relative;
    padding-left: 5px;
    padding-left: 0.5rem;
    margin-bottom: 0.5px;
    margin-bottom: 0.5rem; }
    .col-lg-10 .row {
      margin-left: 0;
      width: 100%; }
      .col-lg-10 .row > div:first-child {
        padding: 0; }

  .col-lg-offset-10 {
    padding-top: 0.5rem;
    padding-left: 5px;
    padding-left: 0.5rem;
    display: inline-block; }
    .col-lg-offset-10 .row {
      margin-left: 0;
      width: 100%; }
      .col-lg-offset-10 .row > div:first-child {
        padding: 0; }

  .col-lg-11 {
    display: inline-block;
    width: auto;
    position: relative;
    padding-left: 5px;
    padding-left: 0.5rem;
    margin-bottom: 0.5px;
    margin-bottom: 0.5rem; }
    .col-lg-11 .row {
      margin-left: 0;
      width: 100%; }
      .col-lg-11 .row > div:first-child {
        padding: 0; }

  .col-lg-offset-11 {
    padding-top: 0.5rem;
    padding-left: 5px;
    padding-left: 0.5rem;
    display: inline-block; }
    .col-lg-offset-11 .row {
      margin-left: 0;
      width: 100%; }
      .col-lg-offset-11 .row > div:first-child {
        padding: 0; }

  .col-lg-12 {
    display: inline-block;
    width: auto;
    position: relative;
    padding-left: 5px;
    padding-left: 0.5rem;
    margin-bottom: 0.5px;
    margin-bottom: 0.5rem; }
    .col-lg-12 .row {
      margin-left: 0;
      width: 100%; }
      .col-lg-12 .row > div:first-child {
        padding: 0; }

  .col-lg-offset-12 {
    padding-top: 0.5rem;
    padding-left: 5px;
    padding-left: 0.5rem;
    display: inline-block; }
    .col-lg-offset-12 .row {
      margin-left: 0;
      width: 100%; }
      .col-lg-offset-12 .row > div:first-child {
        padding: 0; }

  .col-lg-1 {
    width: 8.33333%; }

  .col-lg-offset-1 {
    margin-left: 8.33333%; }

  .col-lg-2 {
    width: 16.66667%; }

  .col-lg-offset-2 {
    margin-left: 16.66667%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-4 {
    width: 33.33333%; }

  .col-lg-offset-4 {
    margin-left: 33.33333%; }

  .col-lg-5 {
    width: 41.66667%; }

  .col-lg-offset-5 {
    margin-left: 41.66667%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-7 {
    width: 58.33333%; }

  .col-lg-offset-7 {
    margin-left: 58.33333%; }

  .col-lg-8 {
    width: 66.66667%; }

  .col-lg-offset-8 {
    margin-left: 66.66667%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-10 {
    width: 83.33333%; }

  .col-lg-offset-10 {
    margin-left: 83.33333%; }

  .col-lg-11 {
    width: 91.66667%; }

  .col-lg-offset-11 {
    margin-left: 91.66667%; }

  .col-lg-12 {
    width: 100%; }

  .col-lg-offset-12 {
    margin-left: 100%; } }
@media (min-width: 990px) {
  .col-uber-1 {
    display: inline-block;
    width: auto;
    position: relative;
    padding-left: 5px;
    padding-left: 0.5rem;
    margin-bottom: 0.5px;
    margin-bottom: 0.5rem; }
    .col-uber-1 .row {
      margin-left: 0;
      width: 100%; }
      .col-uber-1 .row > div:first-child {
        padding: 0; }

  .col-uber-offset-1 {
    padding-top: 0.5rem;
    padding-left: 5px;
    padding-left: 0.5rem;
    display: inline-block; }
    .col-uber-offset-1 .row {
      margin-left: 0;
      width: 100%; }
      .col-uber-offset-1 .row > div:first-child {
        padding: 0; }

  .col-uber-2 {
    display: inline-block;
    width: auto;
    position: relative;
    padding-left: 5px;
    padding-left: 0.5rem;
    margin-bottom: 0.5px;
    margin-bottom: 0.5rem; }
    .col-uber-2 .row {
      margin-left: 0;
      width: 100%; }
      .col-uber-2 .row > div:first-child {
        padding: 0; }

  .col-uber-offset-2 {
    padding-top: 0.5rem;
    padding-left: 5px;
    padding-left: 0.5rem;
    display: inline-block; }
    .col-uber-offset-2 .row {
      margin-left: 0;
      width: 100%; }
      .col-uber-offset-2 .row > div:first-child {
        padding: 0; }

  .col-uber-3 {
    display: inline-block;
    width: auto;
    position: relative;
    padding-left: 5px;
    padding-left: 0.5rem;
    margin-bottom: 0.5px;
    margin-bottom: 0.5rem; }
    .col-uber-3 .row {
      margin-left: 0;
      width: 100%; }
      .col-uber-3 .row > div:first-child {
        padding: 0; }

  .col-uber-offset-3 {
    padding-top: 0.5rem;
    padding-left: 5px;
    padding-left: 0.5rem;
    display: inline-block; }
    .col-uber-offset-3 .row {
      margin-left: 0;
      width: 100%; }
      .col-uber-offset-3 .row > div:first-child {
        padding: 0; }

  .col-uber-4 {
    display: inline-block;
    width: auto;
    position: relative;
    padding-left: 5px;
    padding-left: 0.5rem;
    margin-bottom: 0.5px;
    margin-bottom: 0.5rem; }
    .col-uber-4 .row {
      margin-left: 0;
      width: 100%; }
      .col-uber-4 .row > div:first-child {
        padding: 0; }

  .col-uber-offset-4 {
    padding-top: 0.5rem;
    padding-left: 5px;
    padding-left: 0.5rem;
    display: inline-block; }
    .col-uber-offset-4 .row {
      margin-left: 0;
      width: 100%; }
      .col-uber-offset-4 .row > div:first-child {
        padding: 0; }

  .col-uber-5 {
    display: inline-block;
    width: auto;
    position: relative;
    padding-left: 5px;
    padding-left: 0.5rem;
    margin-bottom: 0.5px;
    margin-bottom: 0.5rem; }
    .col-uber-5 .row {
      margin-left: 0;
      width: 100%; }
      .col-uber-5 .row > div:first-child {
        padding: 0; }

  .col-uber-offset-5 {
    padding-top: 0.5rem;
    padding-left: 5px;
    padding-left: 0.5rem;
    display: inline-block; }
    .col-uber-offset-5 .row {
      margin-left: 0;
      width: 100%; }
      .col-uber-offset-5 .row > div:first-child {
        padding: 0; }

  .col-uber-6 {
    display: inline-block;
    width: auto;
    position: relative;
    padding-left: 5px;
    padding-left: 0.5rem;
    margin-bottom: 0.5px;
    margin-bottom: 0.5rem; }
    .col-uber-6 .row {
      margin-left: 0;
      width: 100%; }
      .col-uber-6 .row > div:first-child {
        padding: 0; }

  .col-uber-offset-6 {
    padding-top: 0.5rem;
    padding-left: 5px;
    padding-left: 0.5rem;
    display: inline-block; }
    .col-uber-offset-6 .row {
      margin-left: 0;
      width: 100%; }
      .col-uber-offset-6 .row > div:first-child {
        padding: 0; }

  .col-uber-7 {
    display: inline-block;
    width: auto;
    position: relative;
    padding-left: 5px;
    padding-left: 0.5rem;
    margin-bottom: 0.5px;
    margin-bottom: 0.5rem; }
    .col-uber-7 .row {
      margin-left: 0;
      width: 100%; }
      .col-uber-7 .row > div:first-child {
        padding: 0; }

  .col-uber-offset-7 {
    padding-top: 0.5rem;
    padding-left: 5px;
    padding-left: 0.5rem;
    display: inline-block; }
    .col-uber-offset-7 .row {
      margin-left: 0;
      width: 100%; }
      .col-uber-offset-7 .row > div:first-child {
        padding: 0; }

  .col-uber-8 {
    display: inline-block;
    width: auto;
    position: relative;
    padding-left: 5px;
    padding-left: 0.5rem;
    margin-bottom: 0.5px;
    margin-bottom: 0.5rem; }
    .col-uber-8 .row {
      margin-left: 0;
      width: 100%; }
      .col-uber-8 .row > div:first-child {
        padding: 0; }

  .col-uber-offset-8 {
    padding-top: 0.5rem;
    padding-left: 5px;
    padding-left: 0.5rem;
    display: inline-block; }
    .col-uber-offset-8 .row {
      margin-left: 0;
      width: 100%; }
      .col-uber-offset-8 .row > div:first-child {
        padding: 0; }

  .col-uber-9 {
    display: inline-block;
    width: auto;
    position: relative;
    padding-left: 5px;
    padding-left: 0.5rem;
    margin-bottom: 0.5px;
    margin-bottom: 0.5rem; }
    .col-uber-9 .row {
      margin-left: 0;
      width: 100%; }
      .col-uber-9 .row > div:first-child {
        padding: 0; }

  .col-uber-offset-9 {
    padding-top: 0.5rem;
    padding-left: 5px;
    padding-left: 0.5rem;
    display: inline-block; }
    .col-uber-offset-9 .row {
      margin-left: 0;
      width: 100%; }
      .col-uber-offset-9 .row > div:first-child {
        padding: 0; }

  .col-uber-10 {
    display: inline-block;
    width: auto;
    position: relative;
    padding-left: 5px;
    padding-left: 0.5rem;
    margin-bottom: 0.5px;
    margin-bottom: 0.5rem; }
    .col-uber-10 .row {
      margin-left: 0;
      width: 100%; }
      .col-uber-10 .row > div:first-child {
        padding: 0; }

  .col-uber-offset-10 {
    padding-top: 0.5rem;
    padding-left: 5px;
    padding-left: 0.5rem;
    display: inline-block; }
    .col-uber-offset-10 .row {
      margin-left: 0;
      width: 100%; }
      .col-uber-offset-10 .row > div:first-child {
        padding: 0; }

  .col-uber-11 {
    display: inline-block;
    width: auto;
    position: relative;
    padding-left: 5px;
    padding-left: 0.5rem;
    margin-bottom: 0.5px;
    margin-bottom: 0.5rem; }
    .col-uber-11 .row {
      margin-left: 0;
      width: 100%; }
      .col-uber-11 .row > div:first-child {
        padding: 0; }

  .col-uber-offset-11 {
    padding-top: 0.5rem;
    padding-left: 5px;
    padding-left: 0.5rem;
    display: inline-block; }
    .col-uber-offset-11 .row {
      margin-left: 0;
      width: 100%; }
      .col-uber-offset-11 .row > div:first-child {
        padding: 0; }

  .col-uber-12 {
    display: inline-block;
    width: auto;
    position: relative;
    padding-left: 5px;
    padding-left: 0.5rem;
    margin-bottom: 0.5px;
    margin-bottom: 0.5rem; }
    .col-uber-12 .row {
      margin-left: 0;
      width: 100%; }
      .col-uber-12 .row > div:first-child {
        padding: 0; }

  .col-uber-offset-12 {
    padding-top: 0.5rem;
    padding-left: 5px;
    padding-left: 0.5rem;
    display: inline-block; }
    .col-uber-offset-12 .row {
      margin-left: 0;
      width: 100%; }
      .col-uber-offset-12 .row > div:first-child {
        padding: 0; }

  .col-uber-1 {
    width: 8.33333%; }

  .col-uber-offset-1 {
    margin-left: 8.33333%; }

  .col-uber-2 {
    width: 16.66667%; }

  .col-uber-offset-2 {
    margin-left: 16.66667%; }

  .col-uber-3 {
    width: 25%; }

  .col-uber-offset-3 {
    margin-left: 25%; }

  .col-uber-4 {
    width: 33.33333%; }

  .col-uber-offset-4 {
    margin-left: 33.33333%; }

  .col-uber-5 {
    width: 41.66667%; }

  .col-uber-offset-5 {
    margin-left: 41.66667%; }

  .col-uber-6 {
    width: 50%; }

  .col-uber-offset-6 {
    margin-left: 50%; }

  .col-uber-7 {
    width: 58.33333%; }

  .col-uber-offset-7 {
    margin-left: 58.33333%; }

  .col-uber-8 {
    width: 66.66667%; }

  .col-uber-offset-8 {
    margin-left: 66.66667%; }

  .col-uber-9 {
    width: 75%; }

  .col-uber-offset-9 {
    margin-left: 75%; }

  .col-uber-10 {
    width: 83.33333%; }

  .col-uber-offset-10 {
    margin-left: 83.33333%; }

  .col-uber-11 {
    width: 91.66667%; }

  .col-uber-offset-11 {
    margin-left: 91.66667%; }

  .col-uber-12 {
    width: 100%; }

  .col-uber-offset-12 {
    margin-left: 100%; } }
